body{
    font-family: "Poppins", sans-serif;
}
.Logo{
    font-weight: bold;
}

.banner-1{
    height: 500px;
}

.Login{
    background-color: #000 !important;
    width: 100%;
    height: 100%;
    position: absolute;
}

.login-box{
    background-color: #1f1f1f;
    width: 100%;
    /* height: 450px; */
    padding: 25px 35px 45px 35px;
}
.h2-1{
    color: #fff;
    font-weight: 500;
    font-size: 25px;
}
.login-form{
    background-color: #333;
    padding: 10px;
    color: #fff;
    border-radius: 0 !important;
}
.login-form:focus{
    background-color: #333;
    color: #fff;
}
.login-form::placeholder{
    color: rgb(167, 172, 172);
}
label{
    color: #fff;
    padding-bottom: 5px;
}
hr{
    color: #fff;
}
.my-btn{
    background-color: #176FCE;
    border: 0;
    border-radius: 0;
    color: #fff;
    font-size: 18px;
    text-align: center;
    font-weight: 500;
}
.my-btn:focus{
    background-color: #0d61bb;
    color: #fff;
}